/**********************************************************
* style.css
*
* Author: Tony Jin
* Date: 1/16/15
**********************************************************/

body {
  color: #444;
}

.container {
  min-height: 720px;
}

/**********************************************************
                  standard elements 
**********************************************************/

p {

}

a:link {
  color: inherit;
  text-decoration: none;
  
  border-bottom: 1px dotted;
}

a:hover {
  border-bottom: 1px solid;
}

a:focus{

}

a:visited {
}


/**********************************************************
                  title section (heads) 
**********************************************************/
.title {
  margin-top: 10vh;  
  font-family: "Raleway", sans-serif;
}

/**********************************************************
                  about section (shoulders) 
**********************************************************/
.wrapper {
  height: 100%;
  margin: 0 auto -2em;
}

.about {}


/**********************************************************
                  projects completed (knees)
**********************************************************/
.posts {
  line-height: 1.8em;
}

/**********************************************************
                  footer component (and toes) 
**********************************************************/
.push { 
   height: 10em; 
}

.footer {
  position: absolute;
  left:0;
  bottom: 0;
  height: 3em;
  width: 100%;
}

.contact {
  font-size: 0.8em; 
  font-weight: 300;
  text-align: center;
  float: right;
}


/* Making Pretty Triangles */

.triangles {
  height:1em;
  position: relative;
}

.triangles div {
  height: 0px;
  width: 0px;
  position: absolute;
  bottom: 0;
  margin-right: 40px;
}

.redtri {
  right:0;
  border-left: 60px solid transparent;
  border-right: 60px solid transparent;
  border-bottom: 120px solid #E74C3C;
}

.greytri {
  right:50px;
  opacity: 0.3;
  border-left: 55px solid transparent;
  border-right: 55px solid transparent;
  border-bottom: 110px solid gray;
}

.navytri {
  right: 110px;
  margin-right: -25px;
  border-left: 45px solid transparent;
  border-right: 45px solid transparent;
  border-bottom: 90px solid #0067A5;
}

.bluetri {
  right:60px;
  opacity: 0.7;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-bottom: 80px solid #3498DB;
}


/**********************************************************
                  responsivity (growing pains?) 
**********************************************************/

@media (min-device-width: 550px){
  .triangles {
    float:right;
  }
  
  .trangles div {
    margin-right: 0;
  }
  
  .push, .footer {
    height: 2em;
  }
}
